
/* ---------- COLORS ---------- */

:root {
    --white: #ffffff;
    --gray: #f5f5f5;
    --purple: #9d44f6;
    --dark-purple: #7a19dc;
    --light-purple: #dabbfa;
    --dark-gray: #8c8c8c;
    --dark: #000;
    --light-dark: #373c42;
    --red: #ee3540;
    --dark-red: #b5242e;
    --yellow: #f6c94a;
    --green: #5ed1c9;
    --red: #ff6b6b;
    --blue: #6b5b95;
    --cyan: #00c8ff;
}

body {
    background-color: var(--white);
}

/* IMAGES */

.article-main-img-container {
    width: 748px;
    height: 431px;
}

.article-img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.article-small-img {
    cursor: pointer;
    width: 149.6px;
    height: 86.2px;
}

.acitce-article-img {
    background-color: #f5f5f57e;
    width: 100%;
    height: 100%;
}

/* CONTENT */

.article-content-container {
    position: relative;
    padding-left: 20px;
    padding-right: 0px;
}

.article-owner-picture {
    width: 40px;
    height: 40px;
    clip-path: circle();
    margin-right: 15px;
}

.article-owner-name {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 20px 0;
}

.article-rating-stars {
    font-size: 30px;
}

.article-buttons {
    position: absolute;
    left: 20px;
    bottom: 102.19px;
}

.article-buy-buttons {
    font-size: 2rem;
    padding: 25px 50px;
}

.article-panier-buttons {
    font-size: 2rem;
    padding: 25px 25px;
}

.article-love-buttons {
    font-size: 2rem;
    padding: 25px 15px;
}

/* Description and Comments */

.article-about-button {
    color: var(--dark-gray);
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    margin-right: 18px;
}

.article-about-button:hover {
    color: var(--purple);
}

.active {
    color: var(--dark);
}

/* PRICE */

.price {
    font-size: 1.8rem;
    font-weight: 700;
}

.promo-price {
    color: var(--purple);
}

.original-price {
    color: var(--dark-gray);
    font-size: 1.2rem;
    text-decoration-line: line-through;
}

.article-description {
    font-size: 1.25rem;
    white-space: normal;
}

.rating-star {
    font-size: 24px;
    margin-right: 5px;
    color: var(--light-dark);
}

@media only screen and (max-width: 600px) {
    .article-main-img-container {
        width: 100%;
        height: 215.5px;
    }

    .article-content-container {
        margin-top: 25px;
    }

    .article-buttons {
        position: static;
        display: flex;
        margin-top: 25px;
    }

    .article-content-container {
        padding-right: 20px;
    }

    .article-buy-buttons,
    .article-love-buttons,
    .article-panier-buttons {
        font-size: 1.5rem;
        margin-right: 10px;
    }

    .article-buy-buttons {
        padding: 25px 25px;
    }

    .about-web-site-text {
        font-size: 20px;
    }

    .about-web-site-text span {
        font-size: 20px;
    }

    .about-web-site-text small {
        font-size: 15px;
        line-height: 1;
    }

    .article-card {
        margin: 0;
    }
}

.comment-container {
    border-radius: 5px;
    padding: 20px 15px;
    margin: 40px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.user-comment-img-container {
    width: 55px;
    height: 55px;
}

.user-comment-img-container .picture {
    border-radius: 50%;
    border: 2px solid var(--purple);
}

.comment-content-containr {
    text-align: start;
}

.comment-content-containr {
    padding-left: 20px;
    width: 100%;
}

.comment-user-name {
    font-weight: 500;
    color: var(--light-dark);
    font-size: 1.15rem;
    margin: 15px 0;
}

.comment-content {
    font-size: 1.1rem;
    word-break: break-all;
    margin: 0;
}

.user-comment-rate {
    font-size: 20px;
}

.delete-comment {
    color: var(--red);
    font-size: 24px;
    cursor: pointer;
}

.delete-comment:hover,
.read-more-comments:hover {
    color: var(--light-dark);
}

.read-more-comments {
    color: var(--purple);
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}
