/* ---------- COLORS ---------- */

:root {
    --white: #ffffff;
    --gray: #f5f5f5;
    --purple: #9d44f6;
    --dark-purple: #7a19dc;
    --light-purple: #dabbfa;
    --dark-gray: #8c8c8c;
    --dark: #000;
    --light-dark: #373c42;
    --red: #ee3540;
    --dark-red: #b5242e;
    --yellow: #f6c94a;
    --green: #5ed1c9;
    --red: #ff6b6b;
    --blue: #6b5b95;
    --cyan: #00c8ff;
}

/* ---------- HTML ---------- */

body {
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--dark);
}

a:hover {
    color: var(--white);
}

main {
    height: max-content;
}

ul {
    list-style-type: none;
}

.navbar-icons:hover,
.footer-icons:hover {
    color: var(--purple);
}

/* ---------- Navbar ---------- */

.navbar {
    background-color: var(--dark);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.brand-icon {
    color: var(--purple);
}

.small-btn {
    font-weight: bold;
    margin-left: 15px;
    text-align: center;
    width: 80px;
}

.navbar-icons {
    color: var(--white);
    cursor: pointer;
    font-size: 26.5px;
    margin-left: 25px;
    text-decoration: none;
}

.login-btn {
    border: 1px solid var(--purple);
    color: var(--purple);
    width: fit-content;
}

.login-btn:hover {
    border: 1px solid var(--dark-purple);
    color: var(--dark-purple);
}

.signup-btn {
    background-color: var(--purple);
    color: var(--white);
    width: fit-content;
}

.signup-btn:hover {
    background-color: var(--dark-purple);
    color: var(--gray);
}

.user-dropdown-menu {
    background-color: var(--light-dark);
    border-radius: 0;
    border: 0;
    color: var(--white);
    padding: 0;
    right: 0px;
    top: 51px;
}
.user-dropdown-item,
.user-dropdown-item-header {
    color: var(--white);
    padding: 15px;
    font-size: 1.2rem;
}

.user-dropdown-item:hover {
    background-color: var(--purple);
    color: var(--white);
}

.user-dropdown-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-dropdown-image {
    width: 70px;
    height: 70px;
    clip-path: circle();
    margin-right: 10px;
    background-color: var(--dark-gray);
}

.user-dropdown-name {
    font-size: 1.3rem;
    font-weight: 500;
}

.user-dropdown-email {
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
}

.user-dropdown-menu hr {
    border: 0;
    border-top: 1px solid var(--white);
    width: 100%;
    margin: 0;
}

.user-dropdown-menu i {
    margin-right: 5px;
}

.toggler-button {
    border: 0;
    color: var(--purple);
    font-size: 35px;
    outline: 0;
    box-shadow: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-h-row {
    border-color: var(--light-dark);
}

.carts-icon {
    position: relative;
}

.carts-icon:hover .carts-nomber {
    background-color: var(--white);
    color: var(--purple);
}

.carts-nomber {
    background-color: var(--purple);
    border-radius: 50%;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    right: -10px;
}

/* ---------- Second Navbar ---------- */

.second-navbar {
    background-color: var(--dark-gray);
    padding: 0;
}

.second-navbar-list {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

.second-navbar-list li {
    color: var(--gray);
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 20px;
    margin: 0;
    padding: 7px 15px;
}

.second-navbar-list li:hover {
    color: var(--white);
    background-color: var(--purple);
}

/* News */

.web-site-news {
    background-color: var(--purple);
    color: var(--white);
    text-align: center;
    font-size: 1.2rem;
    padding: 30px;
}

/* MAIN */

.main-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--white);
}

/* ---------- Form ---------- */

label {
    color: #505050;
    font-weight: 500;
}

.form-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sign Up */

.signup-form {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    width: 30%;
    margin-top: 70px;
}

.signup-form-title,
.signup-form-semi-title {
    text-align: center;
}

.signup-form-semi-title {
    margin-bottom: 30px;
    font-weight: 400;
}

.form-group,
.form-control,
.form-select {
    margin: 7px 0;
}

.form-submit-input {
    margin: 24px 0 0 0;
}

.form-submit-input input {
    background-color: var(--purple);
    border: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
}

.form-control:focus,
.form-select:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--purple);
}

.form-errors-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.form-error {
    background-color: var(--white);
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 30%;
    padding: 7px;
    margin: auto;
    margin-top: 10px;
}

.form-check-input:focus {
    box-shadow: 0px 0px 10px var(--purple);
    border: 2px solid var(--purple);
    accent-color: var(--purple);
}

.form-check-input:checked {
    background-color: var(--purple);
    border-color: var(--purple);
}

/* ---------- Main ---------- */

/* ---------- Footer ---------- */

footer {
    margin-top: auto;
    background-color: var(--dark);
    color: var(--white);
    font-size: 1.1rem;
}

.footer-social-media {
    background-color: var(--purple);
    font-size: 20px;
}

.footer-icons,
.footer-link {
    text-decoration: none;
}

.footer-link {
    color: var(--gray);
}

.footer-link:hover {
    color: var(--purple);
}

/* =============== Mobile Device ================ */

@media screen and (max-width: 1000px) {
    .signup-form {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .signup-form {
        width: 90%;
    }
}

/* =============== UI ================ */

.link {
    color: var(--purple);
    text-decoration: none;
}

.link:hover {
    color: var(--dark);
}

.purple-button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(
        100% 100% at 100% 0,
        var(--purple) 0,
        var(--purple) 100%
    );
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 40px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.purple-button:focus {
    color: #fff;
    box-shadow: var(--purple) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--purple) 0 -3px 0 inset;
}

.purple-button:hover {
    color: #fff;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--purple) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.purple-button:active {
    color: #fff;
    box-shadow: var(--purple) 0 3px 7px inset;
    transform: translateY(2px);
}

.red-button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(
        100% 100% at 100% 0,
        var(--red) 0,
        var(--red) 100%
    );
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 40px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.red-button:focus {
    color: #fff;
    box-shadow: var(--red) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--red) 0 -3px 0 inset;
}

.red-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--red) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.red-button:active {
    color: #fff;
    box-shadow: var(--red) 0 3px 7px inset;
    transform: translateY(2px);
}

.error-message {
    background-color: var(--red);
    color: white;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.green-button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(
        100% 100% at 100% 0,
        var(--green) 0,
        var(--green) 100%
    );
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 40px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.green-button:focus {
    color: #fff;
    box-shadow: var(--green) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--green) 0 -3px 0 inset;
}

.green-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--green) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.green-button:active {
    color: #fff;
    box-shadow: var(--green) 0 3px 7px inset;
    transform: translateY(2px);
}

.yellow-button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(
        100% 100% at 100% 0,
        var(--yellow) 0,
        var(--yellow) 100%
    );
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 40px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.yellow-button:focus {
    color: #fff;
    box-shadow: var(--yellow) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--yellow) 0 -3px 0 inset;
}

.yellow-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--yellow) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.yellow-button:active {
    color: #fff;
    box-shadow: var(--yellow) 0 3px 7px inset;
    transform: translateY(2px);
}

/* GENERAL STYLE */

.picture {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.promo {
    background-color: var(--light-purple);
    border-radius: 5px;
    color: var(--purple);
    font-size: 0.95rem;
    font-weight: bold;
    text-align: center;
    padding: 0 5px;
    margin-left: 10px;
}

/* filepond */

.filepond--credits {
    display: none;
}

#filepond--drop-label-xyjb8cdln {
    color: red;
}

.fade:not(.show) {
    opacity: 0;
    display: none;
}

/* ============================================================================== */
/* =============================== ARTICLES ================================ */
/* ============================================================================== */
.voir-plus-link,
.pills-assets {
    font-size: 1.2rem;
    font-weight: 600;
}

.pills-assets {
    color: var(--dark-gray);
    text-decoration: none;
    margin-right: 10px;
}

.pills-assets:hover {
    color: var(--purple);
}

.active {
    color: var(--dark);
}

.breadcrumb-item a {
    text-decoration: none;
    color: var(--light-dark);
}

.breadcrumb-item {
    font-size: 1.15rem;
}

/* Web Site Features */

.features-card {
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    padding: 20px;
    margin: 20px 0px;
}

.features-icon {
    color: var(--purple);
    font-size: 48px;
}

.features-text {
    margin-left: 20px;
}

.features-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.features-about {
    color: var(--dark-gray);
}

/* ! Web Site Features */

.required {
    color: var(--red);
}

.articles-pages {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 0 20px;
}

.page-link {
    background-color: var(--purple);
    border-radius: 7px;
    border: 1px solid var(--purple);
    color: var(--white);
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: 600;
    text-decoration: none;
    margin: 0 15px;
    padding: 7.5px 16px;
}

.page-link:hover {
    border: 1px solid var(--purple);
    background-color: transparent;
    color: var(--purple);
}

.page-link[rel~="prev"] {
    border: 1px solid var(--purple);
    background-color: transparent;
    color: var(--purple);
}

.page-link[rel~="prev"]:hover {
    background-color: var(--purple);
    color: var(--white);
}

.page-item.active .page-link {
    border: 1px solid var(--purple);
    background-color: transparent;
    color: var(--purple);
}

.page-item.disabled .page-link {
    border: 1px solid var(--dark-gray);
    background-color: transparent;
    color: var(--dark-gray);
}

.article-link {
    text-decoration: none;
    color: var(--dark);
}

.article-link:hover {
    color: var(--dark);
}

.article-link:hover .article-title {
    color: var(--purple);
}

/* ============================================================================== */
/* =============================== ARTICLES ================================ */
/* ============================================================================== */

.articles-cards-container {
    flex-wrap: wrap;
    margin-top: 30px;
}

.article-card {
    border-radius: 10px;
    padding: 0px 12px 5px 12px;
    overflow: hidden;
    margin: 20px 0 20px 0;
}

.article-image-container {
    width: 221.66px;
    height: 155.75px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}

.picture {
    width: 100%;
    height: 100%;
}

.article-owner,
.article-title {
    font-size: 1.15rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 217.66px;
}

.article-title {
    font-weight: 700;
}

.article-title a {
    text-decoration: none;
    color: var(--dark);
}

.article-title a:hover {
    color: var(--purple);
}

.article-rating {
    display: flex;
}

.article-rating i {
    margin: 3px 3px 3px 0;
}

.article-price,
.article-promo-price {
    font-weight: 600;
    font-size: 1.1rem;
}

.article-promo-price {
    color: var(--purple);
}

.article-original-price {
    color: var(--dark-gray);
    text-decoration: line-through;
    font-size: 0.85rem;
}

.article-add-cart {
    background-color: transparent;
    border: none;
    color: var(--dark-gray);
    font-size: 30px;
}

.article-add-cart:hover {
    font-size: 30px;
    color: var(--purple);
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.article-link {
    text-decoration: none;
    color: var(--dark);
}

.article-link:hover .article-title,
.article-link:hover .save-title {
    color: var(--purple);
}

/* Filter */

.filters-container .dropdown button {
    background-color: var(--gray);
    border: 0;
    border-radius: 5px;
    color: var(--dark);
}

.counter-text,
.filter-text {
    font-size: 1.1rem;
}

.counters {
    font-weight: 700;
}

.filters-container {
    display: flex;
}

.filters-container .dropdown {
    margin-left: 20px;
}

.filter-text {
    color: var(--dark);
    margin-right: 10px;
}

.filter-dropdown-menu {
    border: 0;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: absolute;
    left: -54px;
}

.filter-dropdown-item:hover {
    background-color: var(--purple);
    color: var(--white);
}

/* ============================================================================== */
/* =============================== Medai ================================ */
/* ============================================================================== */

@media only screen and (max-width: 600px) {
    main {
        height: max-content;
    }

    .main-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .navbar-icons {
        margin-left: 0;
        font-size: 1.15rem;
    }

    .navbar-icons i {
        color: var(--purple);
    }

    .navbar-container {
        display: flex;
    }

    .carts-nomber {
        display: none;
    }

    .page-link {
        display: none;
    }

    .page-link[rel~="prev"],
    .page-link[rel~="next"],
    .page-item.active .page-link,
    .page-item.disabled[aria-label="« Previous"] .page-link,
    .page-item.disabled[aria-label="Next »"] .page-link {
        display: block;
    }

    .user-dropdown-item-header {
        display: none;
    }

    .user-dropdown-menu {
        background-color: transparent;
        margin-top: 15px;
    }

    .user-dropdown-row,
    .phone-desactive {
        display: none;
    }

    .user-dropdown-item {
        font-size: 1.05rem;
        padding: 10px 30px;
    }

    .user-dropdown-item i {
        color: var(--purple);
    }

    .second-navbar-list li {
        color: var(--gray);
        font-weight: 600;
        font-size: 1rem;
        padding: 5px 8px;
    }
}

.modal-header {
    background-color: var(--purple);
    color: var(--white);
}

.modal-header button {
    color: var(--white);
}

/* ============================ COMMENTS ============================== */

.create-comment-form {
    margin: 10px 0;
}

.user-img-comment-container {
    width: 50px;
    height: 50px;
    background-color: var(--dark-gray);
    clip-path: circle();
    margin: auto;
}

.create-comment-container {
    border: 1px solid var(--dark-gray);
    padding: 10px;
    margin: 0;
    height: 70px;
    overflow: hidden;
    transition: height 1s;
}

.create-comment-container-active {
    border: 1px solid var(--purple);
    padding: 10px;
    margin: 0;
    transition: height 1s;
}

.create-comment-input {
    border: 0;
    resize: none;
    font-size: 1.1rem;
}

.create-comment-buttons {
    margin-left: auto;
    width: fit-content;
}
